<div class="container"> 
    <form method="POST" action="/user/signup">
        <input type="email" name="email" value="email"/>
        <input type="password" name="password" value="password"/> 
        <input class="button is-success" type="submit" value="Signup" /> 
    </form>
</div> 