<form method="POST" action="/user/signin">
    <input type="email" name="email" value="email"/>
    <input type="password" name="password" value="password"/> 
    <input type="submit" value="signin" /> 
</form>